<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="dashbord" routerLink="dashbord" routerLinkActive="router-link-active">Dashbord</a>
      </li>
      <li class="nav-item">
        <!-- ******************************its bad way****************************************** -->
        <!-- when we used href its work but page will refresh  -->
        <a class="nav-link" routerLinkActive="about" href="about">About</a>

      </li>

      <li class="nav-item">
        <!-- ***************************1 way ********************************************* -->
        <a class="nav-link" routerLinkActive="about" routerLink="about" href="dashbord">About1</a>
        <!-- ************************************************************************ -->
      </li>
      <li class="nav-item">
        <!-- **************************** 2 ways ******************************************** -->
        <a class="nav-link" routerLinkActive="about" [routerLink]="'about'" href="dashbord">About2</a>
        <!-- ************************************************************************ -->
      </li>

      <li class="nav-item">
        <!-- **************************** 3 variable declear ways ******************************************** -->
        <a class="nav-link" routerLinkActive="about" [routerLink]="about" href="dashbord">About3</a>
        <!-- ************************************************************************ -->
      </li>

      <li class="nav-item">
        <!-- **************************** 4 ways ******************************************** -->
        <a class="nav-link" routerLinkActive="about" [routerLink]="['about']" href="dashbord">About4</a>
        <!-- ************************************************************************ -->
      </li>

      <li class="nav-item">
        <!-- **************************** 5 ways ******************************************** -->
        <a class="nav-link"  [routerLink]="['about',101]" href="dashbord">About5</a>
        <!-- ************************************************************************ -->
      </li>



      <li class="nav-item">
        <a class="nav-link" routerLinkActive="contact" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="timetable" routerLink="timetable">Timetable</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
